body {
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    border: 4px solid rgb(0, 0, 0);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.toolbar {  
    background-color: #2d2d2d;
    padding: 15px 25px;
    border-radius: 8px;
    border: 0px solid gold;
    box-shadow: 0 2px 10px rgba(255, 196, 0, 0.5);
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
    
}

#paintCanvas {

    background-color: white;
    cursor: crosshair;
    border-radius: 4px;
    border: 2px solid gold;
    box-shadow: 0 0 20px gold ;
    box-shadow: 0 4px 20px rgba(255, 196, 0, 0.5);
}

button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}
#imgupload {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ff6600;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
}

button:active {
    transform: translateY(2px); 
}

#clear {
    background-color: #b33939;
}

#clear:hover {
    background-color: #ff5252;
}

input[type="color"] {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: none;
}

input[type="range"] {
    cursor: pointer;
    accent-color: #ff6600;
}

label {
    font-size: 14px;
    font-weight: bold;
}
